<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pusat.android.makananbekuenak.com.aplikasi_marketer" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".EditdataPribadi" />
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="pusat.android.makananbekuenak.com.aplikasi_marketer.LoginActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name="pusat.android.makananbekuenak.com.aplikasi_marketer.SignupActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name=".RegistrasiMarketer" />
        <activity android:name=".Pengaturan" />
        <activity android:name=".Tambah_bank" />


        <activity android:name=".Laporan" />

        <activity android:name=".Entry_Order" />
        <activity android:name=".Entry_Order2" />
        <activity android:name=".Entry_Order3" />




    </application>

</manifest>
